.vs/
Debug/
Release/
*.user
*.lnk
/secret/
/main.o
/huffmunch.o
/huffmunch
/huffmunch.exe
danger/output/
danger/cc65/
danger/danger_build_notepad.bat
danger/music/FamiTracker.exe
danger/music/*.pdf
danger/music/*.mp3
danger/music/output/*.txt
